<div class="container">
  <%= simple_form_for @user do |u| %>
    <%= u.input :name %>
    <%= u.input :email %>
    <%= u.input :admin, as: :boolean %>
    <%= u.input :password %>
    <%= u.input :password_confirmation %>
    <%= u.button :submit, class: "btn btn-primary" %>
  <% end %>     
</div>
