<div class="container-fluid">
 
    <%= form_tag(contacts_path, method: :get) do %>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span><%= submit_tag 'Search', class:'form-control btn btn-primary', name: nil %></span>
        </div>
          <%= text_field_tag :term, params[:term], class:'form-control', placeholder: "Enter Name" %>       
      </div>
    <% end %>
 
  <h4>Contacts  <%= link_to '+', new_contact_path, class:"btn btn-primary" %></h4>
  <table class="table">
    <thead>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>City</th>
      <th>Zip</th>
      <th>Country</th>
      <th>Contact Number</th>
    </thead>
      <% @contacts.each do |contact| %>
    <tr>  
        <td><%= contact.last_name %></td>
        <td><%= contact.first_name %></td>
        <td><%= contact.address1 %></td>
        <td><%= contact.address2 %></td>
        <td><%= contact.city %></td>
        <td><%= contact.zip %></td>
        <td><%= contact.country %></td>
        <td><%= contact.telephone %></td>
        <td><%= link_to 'Show', contact_path(contact) %></td>
        <% if can? :update, contact %>
          <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <% end %>
        <% if can? :destroy, contact %>
          <td><%= link_to 'Delete', contact_path(contact), method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      <% end %> 
    </tr>
  </table>
</div>

